body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f8f8f8;
  }

.container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto; 
} 
.div_banner{
    width: 100%;
    background-color: black;
}
.cabecalho{
    height: 100px;
}
.caixa{
    margin-left: 10%;
    margin-left: 10%;
}
.cabecalho img{
    width: 5%;
    margin-left: 5%;
}
.cabecalho nav{
    float: right;
    margin-right: 5%;
    color: white;
    padding-top: 20px;
}
ul{
    list-style-type: none;
}
ul li{
    color: white;
    display: inline;
    margin: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#pag{
    width: 150px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    
}
#pag option{
    color: black;
    border: none;
}
.caixa #but_login{
    margin-left: 30%;
    margin-top: 1%;
    width: 240px;
    height: 60px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(250, 186, 68);
    color: white;
}
.caixa #but_saiba{
    width: 240px;
    height: 60px; 
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(250, 186, 68);
    border-color: rgb(250, 186, 68);
}
.cabecalho #but_login{
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(250, 186, 68);
    border-color:rgb(250, 186, 68);  
    width: 120px;
    height: 40px;
    margin-left: -10%;
}

/*.cabecalho {
    width: 100%;
    height: 60px;
    background-color: black;
}

.cabecalho .menu {
    float: right;
}

ul {
    list-style: none;
    color: white;
}

.menu ul li {
    display: inline;
    color: white;
    margin-left: 20px;
}*/

.contato {
    text-align: center;
    border-bottom: 3px solid gray;
  
}


.conteudo_contato h1{
    font: inherit;
    font-size: 2.9em;
    color: #646464;
}

.informacoes .mapa {
    float: left;
    padding-top: 25px;
    margin-left: 70px;
}

.informacoes .nossos_contatos {
    float: right;
    margin-right: 70px;
}

.nossos_contatos h2{
    text-align: center;
    font: inherit;
    font-size: 2.0em;
    color: #646464;
}

.nossos_contatos h3{
    font: inherit;
    font-size: 1.5em;
    color: #646464;
}

#tt_fot{
    padding-top: 3%;
}

footer{
    bottom: 0;
    background-color:white;
    color: gray;
    width: 100%;
    height: 253px;    
    text-align: center;
    line-height: 50px; 
    padding-top: 536px; 
}
.social{
    margin-top: 5%;
    width: 50px;
    height: 30px;
}