/* Importanto a Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
}
  
  .container {
     margin-top: 12px;
     margin-left: 350px;
     margin-right: 60px;
  }

  .describle{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90%;
    padding: 15px;
    margin-bottom:10px;
    border-radius: 10px;
  }

  .flex { /* deixando as caixas uma do lado da outra */
    display: flex;
    width: 100%;
    height: 180px;
  }

.style {
  display: flex;
  flex-wrap: wrap; /* permite ficar na mesma linha// um do lado do outro */
  border-radius: 10px;
  
}

.style > *:nth-child(1) {
  flex: 1 1 70%;
  min-width: 25ch;
 
}

.style > *:nth-child(2) {
  flex: 1 1 30%;
  min-width: 15ch; /* tamanho minimo == define se vai para baixo ou n qnd diminui a tela */
  background-color: #ffffff;
  padding: 10px;
}


.style > *:nth-child(1) {
  flex: 1 1 70%;
  min-width: 25ch;
 
}

.style > *:nth-child(2) {
  flex: 1 1 30%;
  min-width: 15ch; /* tamanho minimo == define se vai para baixo ou n qnd diminui a tela */
  background-color: #fdffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.header .container1 .highlight {
  color: yellow
}

.test {
  width: 100%;
}


.card{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.font {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.describle p {
  background: linear-gradient(to right, #eba134,  #e77532 , rgb(179, 71, 8) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: large;
  font-weight: bold;
}

.canva {
  width: 80%;
}

.describle2  h3 {
  background: linear-gradient(to right, #faba44,  #e77532 , rgb(179, 71, 8) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.noticia #image{
  width: 77%;
  height: 410px;
  margin-left: 10%;
}
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* CABEÇALHO */

.header {
  background-color: #151515;
  border-right: 3px solid yellow;
  width: 15%;
  height: 100%;
  position: fixed;
}

.header .container .highlight {
  color: yellow
}

.usuario {
  width: 75%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  color: white;
}

.usuario h3 {
  font-weight: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  float: left;
  margin: 35px;
  color: white;
  font-size: 25px;
  padding-bottom: 50px;
  border-top: 2px solid yellow;
}

.header ul {
  list-style-type: none;
  float: left;
  margin-top: 80px;
}

.header li {
  margin: 0 0 10px 0;
}

.header a {
  text-transform: uppercase;
  color: white;
}

.header a:hover {
  font-weight: bold;
}

.header .current {
  color: orangered;
  font-weight: bold;
}
.header img {
  width: 94px;
  padding-top: 450px;
}
/* Menu Desing a mais */
li{
  height: 50px;
}
